.idea/
__debug_bin
.DS_Store
.cache
node_modules
config/dist/mount.js
config/dist/mount.js.map
selector/dist/mount.js
selector/dist/mount.js.map
cmake-build-debug
assets/core/kernel.json
MagicCap.app/
magiccap-darwin
magiccap-linux
application_bundle.zip
magiccap-bundled
