<!DOCTYPE HTML>
<html>
    <head>
        <title>MagicCap</title>
        <script src="../node_modules/vue/dist/vue.min.js"></script>
    </head>

    <style>
        .divider {
            width:5px;
            height:auto;
            display:inline-block;
        }

        .rounded-img {
            border-radius: 50%;
        }
    </style>

    <body style="display: none">
        <div class="columns is-gapless" style="margin: 0;">
            <aside class="column is-2 aside hero is-fullheight" style="position: fixed; width: 15%" id="sidebar">
                <aside class="menu">
                    <ul class="menu-list">
                        <li>
                            <a href="javascript:showAbout()">$About$</a>
                        </li>
                        <li v-if="clipboardAction">
                            <a href="javascript:showClipboardAction()">$Clipboard Action$</a>
                        </li>
                        <li v-if="fileConfig">
                            <a href="javascript:toggleFileConfig(true)">$File Configuration$</a>
                        </li>
                        <li v-if="hotkeyConfig">
                            <a href="javascript:showHotkeyConfig()">$Hotkey Configuration$</a>
                        </li>
                        <li v-if="uploaderConfig">
                            <a href="javascript:showUploaderConfig()">$Uploader Configuration$</a>
                        </li>
                        <li v-if="betaUpdates">
                            <a href="javascript:showBetaUpdates()">$Beta Updates$</a>
                        </li>
<!--                         <li>
                            <a href="javascript:toggleMFLConfig(true)">$Change Language$</a>
                        </li> -->
                        <li v-if="toggleTheme">
                            <a href="javascript:toggleTheme()">$Toggle Theme$</a>
                        </li>
                        <hr style="margin: 8px">
                        <li v-if="shortener">
                            <a href="javascript:showShortener()">$Link Shortener$</a>
                        </li>
                        <li>
                            <a href="javascript:runCapture()">$Screen Capture$</a>
                        </li>
                        <li>
                            <a href="javascript:runGifCapture()">$GIF Capture$</a>
                        </li>
                        <li>
                            <a href="javascript:runClipboardCapture()">$Clipboard Capture$</a>
                        </li>
                    </ul>
                </aside>
            </aside>
            <div class="column" style="margin: 0 0 0 15%;">
                <table class="table is-responsive is-fullwidth is-fullheight" id="mainTable">
                    <tbody id="mainTableBody">
                        <tr v-for="capture in captures" :key="capture.timestamp">
                            <td>{{ successMap[capture.success] }}</td>
                            <td>{{ capture.filename }}</td>
                            <td>{{ new Date(capture.timestamp).toLocaleString() }}</td>
                            <td v-if="capture.url === undefined"></td>
                            <td v-else>
                                <a v-on:click="openScreenshotURL(capture.url)">{{ capture.url }}</a>
                            </td>
                            <td v-if="capture.success === 0"></td>
                            <td v-else>
                                    <a class="button is-primary" v-on:click="openScreenshotFile(capture.file_path ? capture.file_path : capture.url)">$View$</a>
                            </td>
                            <td>
                                <a class="button is-danger" v-on:click="rmCapture(capture.timestamp)">$Remove$</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal" id="mflConfig">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">$Change Language$</p>
                    <a class="delete" aria-label="close" id="mflConfigClose" href="javascript:toggleMFLConfig(false)"></a>
                </header>
                <section class="modal-card-body">
                    <p>$NOTE: Changing the language requires a restart of MagicCap to work fully.$</p>
                    <div v-for="(item, key) in languages">
                        <input type="radio" name="mflLanguageRadio" v-on:click="changeLanguage(key)" :checked="currentLang === key"> {{ item }}<br>
                    </div>
                </section>
            </div>
        </div>
        <div class="modal" id="activeUploaderConfig">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">{{ uploader.name }}</p>
                    <button class="delete" aria-label="close" id="activeUploaderConfigClose" v-on:click="closeActiveConfig()"></button>
                </header>
                <section class="modal-card-body" id="activeUploaderConfigBody">
                    <article class="message is-danger" v-if="exception === 'requiredStuffMissing'" id="requiredStuffMissing"><div class="message-body">$Required arguments are missing.$</div></article>
                    <article class="message is-danger" v-else-if="exception === 'blankKey'" id="blankKey"><div class="message-body">$The key you gave was blank.$</div></article>
                    <article class="message is-danger" v-else-if="exception === 'keyAlreadyUsed'" id="keyAlreadyUsed"><div class="message-body">$The key you gave was already used.$</div></article>
                    <article class="message is-danger" v-else-if="exception === 'notAnInteger'" id="notAnInteger"><div class="message-body">$You provided a invalid integer.$</div></article>
                    <article class="message is-success" v-else-if="exception === 'ayyyyDefaultSaved'" id="ayyyyDefaultSaved"><div class="message-body">$Default uploader successfully saved.$</div></article>
                    <article class="message is-success" v-else-if="exception === 'ayyyyTestWorked'" id="ayyyyTestWorked"><div class="message-body">$Uploader test was successful.$</div></article>
                    <article class="message is-danger" v-else-if="exception === 'testFailed'" id="testFailed"><div class="message-body">{{ exceptionData }}</div></article>
                    <div v-if="uploader.options.length === 0">
                        <p>$There are no configuration options for this uploader.$</p><br>
                    </div>
                    <div v-else>
                        <div v-for="option in uploader.options" :key="option.translatedName">
                            <div v-if="option.type === 'text' || option.type === 'integer'">
                                <div class="field">
                                    <label class="label" :for="option.value">{{ option.translatedName }}:</label>
                                    <div class="control">
                                        <input class="input" type="text" :id="option.value" :placeholder="option.translatedName" :value="getDefaultValue(option)" v-on:change="changeOption(option)">
                                    </div>
                                </div>
                            </div>
                            <div v-else-if="option.type === 'token_from_json'">
                                <div class="field">
                                    <label class="label" :for="option.value">{{ option.translatedName }}:</label>
                                    <div v-if="getDefaultValue(option) === undefined">
                                        <webview :id="option.value" :src="option.startUrl" :useragent="userAgent" style="height: 450px"></webview>
                                    </div>
                                    <div v-else>
                                        <p>Already set. Do you want to <a v-on:click="resetValue(option)">reset this value?</a></p>
                                    </div>
                                </div>
                            </div>
                            <div v-else-if="option.type === 'password'">
                                <div class="field">
                                    <label class="label" :for="option.value">{{ option.translatedName }}:</label>
                                    <div class="control">
                                        <input class="input" type="password" :id="option.value" :placeholder="option.translatedName" :value="getDefaultValue(option)" v-on:change="changeOption(option)">
                                    </div>
                                </div>
                            </div>
                            <div v-else-if="option.type === 'boolean'">
                                <div class="field">
                                    <label class="label" :for="option.value">{{ option.translatedName }}:</label>
                                    <div class="control">
                                        <label class="checkbox">
                                            <input type="checkbox" :id="option.value" :checked="getDefaultValue(option)" v-on:change="changeOption(option)">
                                            {{ option.translatedName }}
                                        </label>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <div v-else-if="option.type === 'object'">
                                <div class="field">
                                    <label class="label" :for="option.value">{{ option.translatedName }}:</label>
                                    <table class="table is-bordered is-striped is-fullwidth" :id="option.value">
                                        <tbody>
                                            <tr v-for="(value, key) in option.items">
                                                <td>{{ key }}</td>
                                                <td>{{ value }}</td>
                                                <td>
                                                    <a class="button is-danger" v-on:click="deleteRow(key, option)">$Delete Row$</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>
                                                    <input name="name" class="input" :id="'Key' + option.value" type="text" placeholder="Name">
                                                </th>
                                                <th>
                                                    <input name="value" class="input" :id="'Value' + option.value" type="text" placeholder="Value">
                                                </th>
                                                <th>
                                                    <a class="button is-primary" v-on:click="addToTable(option)">$Add$</a>
                                                </th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <a class="button is-info" v-on:click="testUploader()" id="testButton">$Test Uploader$</a>
                    <span style="padding-left: 5px">
                        <a class="button is-success" v-on:click="setDefaultUploader()">$Set As Default Uploader$</a>
                    </span>
                </section>
            </div>
        </div>
        <div class="modal" id="about">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">$About$</p>
                    <a class="delete" aria-label="close" id="aboutClose" href="javascript:closeAbout()"></a>
                </header>
                <section class="modal-card-body">
                    <h1 class="title" id="magiccap-ver">MagicCap</h1>
                    <p>$Copyright (C) Jake Gealer, Rhys O'Kane & Matt Cowley 2018-2019.$</p>
                    <p>$This software is licensed under the {license} license.$</p>
                    <p>$The emoji data used is licensed under the {emojiLicense} license.$</p>
                    <p v-if="liteTouch">$Some settings are managed by your system administrator.$</p>
                </section>
            </div>
        </div>
        <div class="modal" id="clipboardAction">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">$Clipboard Action$</p>
                    <a class="delete" aria-label="close" id="clipboardActionClose" href="javascript:closeClipboardConfig()"></a>
                </header>
                <section class="modal-card-body">
                    <input type="radio" name="clipboardActionRadio" v-on:click="changeAction(2)" :checked="action === 2"> $Copy the uploaded URL to the clipboard (requires file uploads to be on).$<br>
                    <input type="radio" name="clipboardActionRadio" v-on:click="changeAction(1)" :checked="action === 1"> $Copy the image to the clipboard.$
                </section>
            </div>
        </div>
        <div class="modal" id="betaUpdates">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">$Beta Updates$</p>
                    <a class="delete" aria-label="close" href="javascript:closeBetaUpdates()"></a>
                </header>
                <section class="modal-card-body">
                    <p>$Beta updates contain more functionality, but the functionality might be broken in some aspects or unstable.$</p><br>
                    <input type="radio" name="BetaAction" v-on:click="changeAction(false)" :checked="!action"> $Only get stable updates.$<br>
                    <input type="radio" name="BetaAction" v-on:click="changeAction(true)" :checked="action"> $Get stable and beta updates.$
                </section>
            </div>
        </div>
        <div class="modal" id="uploaderConfig">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">$Uploader Configuration$</p>
                    <a class="delete" aria-label="close" id="uploaderConfigClose" href="javascript:hideUploaderConfig()"></a>
                </header>
                <section class="modal-card-body" id="uploaderConfigBody">
                    <label class="checkbox">
                        <input type="checkbox" id="uploaderConfigCheckbox" :checked="checkUploadCheckbox" v-on:change="toggleCheckbox()">
                        $Make files upload after capturing.$
                    </label>
                    <br><br>
                    <a class="button" style="margin-bottom:5px; margin-right:5px" v-on:click="renderUploader(uploader, uploaderKey)" v-for="(uploader, uploaderKey) in uploaders">
                        <span class="icon is-medium">
                            <img class="rounded-img" :src="'../icons/' + uploader.icon">
                        </span>
                        <p>{{ uploaderKey }}</p>
                    </a>
                    <br><br>
                    <a class="button" href="javascript:exportMconf()">$Export Uploader Configurations$</a>
                    <a class="button" href="javascript:importMconf()" style="padding-left: 10px">$Import Uploader Configurations$</a>
                </section>
            </div>
        </div>
        <div class="modal" id="fileConfig">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">$File Configuration$</p>
                    <a class="delete" aria-label="close" id="fileConfigClose" href="javascript:toggleFileConfig(false)"></a>
                </header>
                <section class="modal-card-body" id="fileConfigBody">
                    <div class="field">
                        <label class="checkbox">
                            <input type="checkbox" id="fileConfigCheckbox" v-on:click="saveItem('fileConfigCheckbox', 'save_capture', true)" :checked="fileConfigCheckboxI">
                            $Make files save after capturing.$
                        </label>
                    </div>
                    <div class="field">
                        <label class="label" for="fileNamingPattern">$File Naming Pattern:$</label>
                        <p style="padding-bottom: 10px">$You can use {patternRandStr} to represent a random character, {patternRandEmoji} for a random emoji, {patternDate} for the date and {patternTime} for the time.$</p>
                        <div class="control">
                            <input class="input" type="text" id="fileNamingPattern" placeholder="$File Naming Pattern$" :value="fileNamingPatternI" v-on:change="saveItem('fileNamingPattern', 'file_naming_pattern')">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="fileSaveFolder">$File Save Folder:$</label>
                        <div class="control">
                            <input class="input" type="text" id="fileSaveFolder" placeholder="$File Save Folder$" :value="fileSaveFolderI" v-on:change="saveItem('fileSaveFolder', 'save_path', false, true)">
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="modal" id="hotkeyConfig">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">$Hotkey Configuration$</p>
                    <a class="delete" aria-label="close" id="hotkeyConfigClose" href="javascript:hotkeyConfigClose()"></a>
                </header>
                <section class="modal-card-body" id="hotkeyConfigBody">
                    <p>$You can use {acceleratorDocs} in order to learn how to format your hotkey. Due to autosave causing possible issues when writing, it will be saved when this screen is closed.$</p>
                    <br>
                    <div class="field">
                        <label class="label" for="screenshotHotkey">$Screenshot Hotkey:$</label>
                        <div class="control">
                            <input class="input" type="text" id="screenshotHotkey" placeholder="$Screenshot Hotkey$" :value="screenshotHotkey">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="gifHotkey">$GIF Hotkey:$</label>
                        <div class="control">
                            <input class="input" type="text" id="gifHotkey" placeholder="$GIF Hotkey$" :value="gifHotkey">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="clipboardHotkey">$Clipboard Hotkey:$</label>
                        <div class="control">
                            <input class="input" type="text" id="clipboardHotkey" placeholder="$Clipboard Hotkey$" :value="clipboardHotkey">
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <script src="gui.js"></script>
    </body>
</html>
